<!DOCTYPE html>
<html>
<head>
    <title>Australian Insolvencies</title>
    <style>
        body { background: white; font-family: Helvetica, Arial, sans-serif }
        .main { margin-left: auto; margin-right: auto; padding: 30px; max-width: 1200px; }
        .alert { padding: 15px 30px; }
        .alert-error { border: 2px solid red; color: red; background-color: #FCC; }
        #chart { min-height: 250px; }

        @media(min-width: 720px) { #chart { min-height: 500px; } }
        @media(min-width: 920px) { #chart { min-height: 700px; } }
    </style>
</head>
<body>
    <div class="main">
        <h1>Australian Insolvencies</h1>
        <div id="chart">
            loading...
        </div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {'packages':['corechart']});

        function drawChart(raw) {
            var keys = ['Quarter', 'Australia', 'ACT', 'NSW', 'NT', 'QLD', 'SA', 'TAS', 'VIC', 'WA'],
            d = []
            d.unshift(keys);

            raw.forEach((val, i, arr) => {
                d.push([
                    val['Quarter'],
                    val['Australia'],
                    val['ACT'],
                    val['NSW'],
                    val['NT'],
                    val['QLD'],
                    val['SA'],
                    val['TAS'],
                    val['VIC'],
                    val['WA']
                ]);
            });

            var data = google.visualization.arrayToDataTable(d);
    
            var options = {
                title: 'Australian Insolvencies',
                hAxis: {title: 'Quarter',  titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0}
            };
    
            var chart = new google.visualization.AreaChart(document.getElementById('chart'));
            chart.draw(data, options);
        }

        fetch('/data.json')
            .then(response => { 
                return response.json();
            })
            .then(data => {
                console.log(data);
                drawChart(data);
            })
            .catch(e => { 
                document.querySelector('#chart').innerHTML = '<div class="alert alert-error">There was an error loading the data! '+ e.message +'</div>';
             });
    </script>
</body>
</html>