<!DOCTYPE html>
<html>
<head>
    <title>Australian Insolvencies</title>
    <style>
        html, body { margin: 0; padding: 0; width: 100%; height: 100%; }
        body { background: white; font-family: Helvetica, Arial, sans-serif }
        .main { display: flex; justify-content: center; align-items: stretch; align-content: stretch; width: 100%; height: 100%; }
        .alert { padding: 15px 30px; }
        .alert-error { border: 2px solid red; color: red; background-color: #FCC; }
        #chart { width: 100%; }
    </style>
</head>
<body>
    <div class="main">
        <div id="chart">
            loading...
        </div>
    </div>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script>
        google.charts.load('current', {'packages':['corechart']});
        var raw_data,
            options = {
                title: 'Australian Insolvencies',
                hAxis: {title: 'Quarter',  titleTextStyle: {color: '#333'}},
                vAxis: {minValue: 0}
            };

        function drawChart(raw) {
            var keys = ['Quarter', 'Australia', 'ACT', 'NSW', 'NT', 'QLD', 'SA', 'TAS', 'VIC', 'WA'],
            d = []
            d.unshift(keys);

            raw.forEach((val, i, arr) => {
                d.push([
                    val['Quarter'],
                    val['Australia'],
                    val['ACT'],
                    val['NSW'],
                    val['NT'],
                    val['QLD'],
                    val['SA'],
                    val['TAS'],
                    val['VIC'],
                    val['WA']
                ]);
            });

            raw_data = d;
            render();
        }

        function render() {
            console.log('Resize...');
            if (google.visualization == undefined) return;
            var data = google.visualization.arrayToDataTable(raw_data);
            var chart = new google.visualization.AreaChart(document.getElementById('chart'));
            chart.draw(data, options);
        }

        window.addEventListener('resize', render);

        fetch('/data.json')
            .then(response => { 
                return response.json();
            })
            .then(data => {
                console.log(data);
                drawChart(data);
            })
            .catch(e => { 
                document.querySelector('#chart').innerHTML = '<div class="alert alert-error">There was an error loading the data! '+ e.message +'</div>';
             });
    </script>
</body>
</html>